<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
        <body>
            <div class="container">
                <div class="header">
                     <nav>
                         <ul class="nav nav-pills pull-right">
                            <li role="presentation"><a href="main">Home</a></li>
                         </ul>
                    </nav>

                </div>
            <h1>Questions</h1>
            <h3><a href="question.html">1.Follow the steps to set up your account.</h3>
            <h3><a href="question.html">2.How much is shipping price?</h3>
    </body>
</head>
<body>

</body>
</html>
